<div class="sidebar">
  <nav role="navigation">
    <ul class="nav nav-sidebar">
      <li>
        <a href="#" layout="column">
          <md-icon md-font-set="material-icons">av_timer</md-icon>
          <span class="md-caption">Home</span>
        </a>
      </li>
      <li class="active">
        <a href="#" layout="column">
          <md-icon md-font-set="material-icons">insert_chart</md-icon>
          <span class="md-caption">Marketing</span>
        </a>
      </li>
      <li>
        <a href="#" layout="column">
          <md-icon md-font-set="material-icons">directions_car</md-icon>
          <span class="md-caption">Integrador</span>
        </a>
      </li>
      <li>
        <a href="#" layout="column">
          <md-icon md-font-set="material-icons">headset_mic</md-icon>
          <span class="md-caption">Suporte</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<!-- TODO: Create toolbar compoment -->
<div flex layout="column" layout-fill>
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
      <h2 flex md-truncate>Marketing - Analytics</h2>
      <md-list class="md-dense">
        <md-list-item class="md-2-line">
          <img src="../../../content/images/avatar.jpg" class="md-avatar">
          <div class="md-list-item-text" class="md-offset">
            <h3>Olá</h3>
            <p>Roberto Zimmerman</p>
          </div>
          <div class="md-secondary">
            <md-menu md-position-mode="target-right target" md-offset="0 64">
              <md-button aria-label="Menu do perfil" class="md-icon-button" ng-click="$mdMenu.open($event)">
                <md-icon md-menu-origin md-font-set="material-icons">keyboard_arrow_down</md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button>
                    <div layout="row" flex>
                      <md-icon md-menu-align-target md-font-set="material-icons">person</md-icon>
                      <p flex>Ver Perfil</p>
                    </div>
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button>
                    <div layout="row" flex>
                      <md-icon md-menu-align-target md-font-set="material-icons">exit_to_app</md-icon>
                      <p flex>Logout</p>
                    </div>
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </md-toolbar>

  <md-content flex>

    <div class="md-padding" layout="column" layout-wrap>
      <!-- "Filter" card -->
      <div flex="100" layout="column">
        <md-card>
          <md-card-content>
            <form name="vm.form.filterForm" flex-gt-md layout="column" novalidate ng-submit="vm.applyFilter(vm.form.filterForm.$valid)"
              novalidate>
              <span class="md-title">Filtros:</span>
              <div class="horizontal-form" layout="row" layout-xs="column" layout-align-xs="space-around stretch">
                <md-input-container flex>
                  <label>Grupo</label>
                  <md-select ng-model="vm.filter.group">
                    <md-option><em>Nenhum</em></md-option>
                    <md-option ng-repeat="group in vm.groups" ng-value="group.id" ng-disabled="$index === 1">
                      {{group.name}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex>
                  <label>Empresa</label>
                  <md-select ng-model="vm.filter.company">
                    <md-option><em>Nenhuma</em></md-option>
                    <md-option ng-repeat="company in vm.companies" ng-value="company.id" ng-disabled="$index === 1">
                      {{company.name}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-button class="md-raised md-primary" type="submit">
                  Aplicar
                  <md-icon md-font-set="material-icons">filter_list</md-icon>
                </md-button>
              </div>
            </form>
          </md-card-content>
        </md-card>
      </div>
    </div>

    <!-- Cards wrapper -->
    <div class="md-padding dashboard-cards" layout="column" layout-gt-sm="row" layout-wrap>

      <!-- "Overview" card -->
      <div flex flex-gt-sm="50" layout-xs="column">
        <div flex layout="column">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-title">Visão geral do Analytics</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div layout="row">
                <md-input-container flex>
                  <label>Período</label>
                  <md-select ng-model="vm.usersSessionsPeriod" ng-change="vm.createUsersSessionsChart()">
                    <md-option ng-value="null"><em>Selecione</em></md-option>
                    <md-option ng-repeat="i in [7, 15, 30]" ng-value="i">
                      Últimos {{i}} dias
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout="column" layout-gt-sm="row">
                <div layout="column" class="badge-group">
                  <div layout="row">
                    <div class="badge">
                      <h4 class="badge-title">Usuários</h4>
                      <h1 class="badge-value">6,2mil</h1>
                      <span class="badge-subtitle decreasing">
                        <md-icon md-font-set="material-icons">arrow_drop_down</md-icon>
                        1,6%
                      </span>
                    </div>
                    <div class="badge">
                      <h4 class="badge-title">Sessões</h4>
                      <h1 class="badge-value">7,8mil</h1>
                      <span class="badge-subtitle decreasing">
                        <md-icon md-font-set="material-icons">arrow_drop_down</md-icon>
                        1,5%
                      </span>
                    </div>
                  </div>
                  <div layout="row">
                    <div class="badge">
                      <h4 class="badge-title">Taxa de Rejeição</h4>
                      <h1 class="badge-value">69,12%</h1>
                      <span class="badge-subtitle increasing">
                        <md-icon md-font-set="material-icons">arrow_drop_up</md-icon>
                        0,5%
                      </span>
                    </div>
                    <div class="badge">
                      <h4 class="badge-title">Duração da Sessão</h4>
                      <h1 class="badge-value">0min,52s</h1>
                      <span class="badge-subtitle increasing">
                        <md-icon md-font-set="material-icons">arrow_drop_up</md-icon>
                        9,7%
                      </span>
                    </div>
                  </div>
                </div>
                <nvd3 id="users-sessions-chart" flex options="vm.usersSessionsChartOptions" data="vm.usersSessionsChartData" class="with-3d-shadow with-transitions"></nvd3>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <!-- "When users come" card -->
      <div flex flex-gt-sm="30" layout-xs="column">
        <div flex layout="column">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-title">Quando os usuários visitam seu site?</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <nvd3 id="day-hour-access-chart" flex options="vm.dayHourAccessChartOptions" data="vm.dayHourAccessChartData" class="with-3d-shadow with-transitions"></nvd3>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <!-- "Devices" card -->
      <div flex flex-gt-sm="20" layout-xs="column">
        <div flex layout="column">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-title">Sessões por dispositivo</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div layout="column">
                <nvd3 id="devices-access-chart" flex options='vm.devicesAccessChartOptions' data='vm.devicesAccessChartData'></nvd3>
                <div layout="row">
                  <span layout="column" flex class="chart-icon-legend">
                    <md-icon md-font-set="material-icons" ng-style="{'color': '{{vm.primaryBlue}}'}">computer</md-icon>
                    <span class="md-caption">Computador</span>
                  </span>
                  <span layout="column" flex class="chart-icon-legend">
                    <md-icon md-font-set="material-icons" ng-style="{'color': '{{vm.secondaryBlue}}'}">tablet</md-icon>
                    <span class="md-caption">Tablet</span>
                  </span>
                  <span layout="column" flex class="chart-icon-legend">
                    <md-icon md-font-set="material-icons" ng-style="{'color': '{{vm.lightBlue}}'}">smartphone</md-icon>
                    <span class="md-caption">Celular</span>
                  </span>
                </div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <!-- "Users access location" card -->
      <div flex flex-gt-sm="50" layout-xs="column">
        <div flex layout="column">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-title">Onde estão seus usuários?</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <form name="vm.form.userLocationForm" flex-gt-md novalidate ng-submit="vm.getUserLocationByDate(vm.form.userLocationForm.$valid)">
                <div class="horizontal-form" layout-gt-sm="row" layout="column" layout-align-xs="space-between stretch">
                  <md-input-container flex>
                    <label>Data do acesso</label>
                    <md-datepicker class="datepicker-extended" ng-model="vm.userLocationForm.userLocationDate" name="userLocationDate" md-open-on-focus
                      required flex></md-datepicker>
                    <div ng-messages="vm.form.userLocationForm.userLocationDate.$error" role="alert">
                      <div ng-message="required">
                        Este campo é obrigatório
                      </div>
                    </div>
                  </md-input-container>
                  <md-button class="md-raised md-primary" type="submit">
                    Aplicar
                    <md-icon md-font-set="material-icons">filter_list</md-icon>
                  </md-button>
                </div>
              </form>
              <div layout="column" layout-gt-sm="row">
                <div flex="60" id="users-access-location-map"></div>
                <div flex="40" id="users-access-location-bar-chart">
                  <nvd3 options='vm.userLocationBarChartOptions' data='vm.userLocationBarChartData'></nvd3>
                </div>
              </div>
              <md-input-container flex>
                <md-checkbox ng-model="vm.userLocationForm.showValuesGreaterThan1" ng-disabled="!vm.form.userLocationForm.$valid" ng-change="vm.getUserLocationByDate(vm.form.userLocationForm.$valid)"
                  aria-label="Mostrar somente valores iguais ou maiores que 1%">
                  Mostrar somente valores iguais ou maiores que 1%
                </md-checkbox>
              </md-input-container>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <!-- "Access count" card -->
      <div flex flex-gt-sm="50" layout-xs="column">
        <div flex layout="column">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-title">Origens de tráfego</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div layout="column" layout-gt-sm="row">
                <div layout="row" layout-gt-sm="column" class="badge-group badge-group-column">
                  <div class="badge">
                    <h4 class="badge-title">Palavras-Chave</h4>
                    <h1 class="badge-value">0</h1>
                  </div>
                  <div class="badge">
                    <h4 class="badge-title">No momento,</h4>
                    <h1 class="badge-value">0</h1>
                    <span class="badge-subtitle">
                      usuários ativos no site
                    </span>
                  </div>
                </div>
                <nvd3 id="per-minute-access-chart" flex options="vm.perMinuteAccessChartOptions" data="vm.perMinuteAccessChartData" class="with-3d-shadow with-transitions"></nvd3>
                <nvd3 id="per-second-access-chart" flex options="vm.perSecondAccessChartOptions" data="vm.perSecondAccessChartData" class="with-3d-shadow with-transitions"></nvd3>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>

    </div>
  </md-content>
</div>