/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  background: #fafafa;
  color: #333;
  margin-left: 100px;
  -webkit-transition: margin 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition: margin 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  transition: margin 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  position: relative!important;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
  display: block;
}

@media (min-width: 600px) {
  .horizontal-form button {
    height: 20px;
    margin-top: 14px;
  }
  .horizontal-form .md-title {
    padding: 25px 30px 0 10px;
  }
}

@media (max-width: 599px) {
  .horizontal-form md-input-container {
    margin-bottom: 0px;
  }
  .horizontal-form button {
    margin: 0;
  }
  body {
    margin-left: 0;
  }
  div.sidebar {
    left: -100px;
  }
}

@media (max-width: 959px) {
  .badge {
    min-width: 50%;
  }
  .badge .badge-title {
    font-size: .7em;
  }

  .badge .badge-value {
    font-size: 1.6em;
  }

  .badge .badge-subtitle {
    font-size: 0.65em;
  }
}

@media (min-width: 960px) {
  .badge-group-column > .badge {
    margin-left: 0;
    margin-right: 0;
  }
}

div.layout-row > .badge:first-child {
  margin-left: 0;
}
div.layout-row > .badge:last-child {
  margin-right: 0;
}

.badge-group {
  margin-right: 20px;
}

.badge {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 160px;
  display: inline-block;
  padding: 10px;
  background-color: #252465;
  color: #FFF;
  margin: 10px;
  min-height: 104px;
}

.badge-title {
  font-weight: 100;
  margin: 5px auto;
  font-size: .85em;
  text-transform: uppercase;
}

.badge-value {
  margin: 5px auto;
  font-size: 1.8em;
  text-transform: uppercase;
}

.badge-subtitle {
  font-size: 0.75em;
}

.badge-subtitle.decreasing md-icon {
  color: #FFF;
}

.badge-subtitle.increasing md-icon {
  color: #52c4ff;
}

.datepicker-extended {
  width: 160px;
  position: relative;
  display: block;
}

.datepicker-extended .md-datepicker-input-container {
  width: 100%;
}

.sidebar {
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  background: #FFF url(../images/alpes-one-logo.png) no-repeat 50% 15px;
  background-size: 85px;
  padding-top: 60px;
  -webkit-transition: left 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition: left 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  transition: left 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

.nav-sidebar {
  list-style: none;
}

.nav-sidebar {
  padding: 0;
}

.nav-sidebar li {
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.nav-sidebar li:hover {
  box-shadow: inset 14px 0px 4px -4px rgba(198, 236, 255, 0.62);
  -moz-box-shadow: inset 14px 0px 4px -4px rgba(198, 236, 255, 0.62);
}

.nav-sidebar li.active {
  box-shadow: inset 14px 0px 4px -4px rgba(198, 236, 255, 1);
  -moz-box-shadow: inset 14px 0px 4px -4px rgba(198, 236, 255, 1);
}

.nav-sidebar li a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
}

.nav-sidebar li a md-icon {
  font-size: 3em;
  height: 48px;
  width: 48px;
  min-height: 48px;
  min-width: 48px;
  color: #333;
}
