#users-access-location-map, #per-minute-access-chart {
  min-height: 300px;
}

#users-access-location-bar-chart {
  max-height: 300px;
  overflow: auto;
}

#devices-access-chart, #users-sessions-chart {
  max-height: 300px;
}

.dashboard-cards md-card {
  min-height: 420px;
}

.chart-icon-legend {
  text-align: center;
}

.chart-icon-legend md-icon {
  font-size: 2em;
  height: 36px;
  width: 36px;
  min-height: 36px;
  min-width: 36px;
}